body {
	background-color: #2ecc71;
	font-family: 'Rubik', sans-serif;
}

.content {
	width: 500px;
	margin: 0 auto;
	background-color: rgb(255, 255, 255);
	padding: 20px;
}

h1 {
	text-align: center;
	display: -ms-flexbox;
	display: flex;
}